# Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# Loader dev runs
run/
run-server/
runs/
logs/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
bin/

# OS
.DS_Store
Thumbs.db
